@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #bf8417;
    --bs-secondary: #6610f2;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f6f6fa;
    --bs-dark: #353f4f;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg,
            rgba(255, 255, 255, 0.15),
            rgba(255, 255, 255, 0));
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--bs-light);
}

/*HEADER FOR HOME STARTS HERE*/
/*Styling for the scroll function of nav bard*/
.head-main-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.8s, transform 0.8s ease;
}

.head-main-div.scrolled {
    background-color: var(--bs-light);
    box-shadow: 0px 0px 5px 0px var(--bs-gray);
    transform: translateY(-6px);
    /* transform: scale(1) */
}


.head-nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    cursor: pointer;
}

.head-nav li a {
    color: var(--bs-gray);
    text-decoration: none;
    font-size: 1.2rem;
}

.head-nav li a:hover,
.links:hover {
    color: #bf8417;
}

.links {
    color: var(--bs-gray);
    text-decoration: none;
}

/* HOME HERO SECTION STARTS HERE */
.home-hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100vh;
    width: 100%;
    padding: 0 4rem;
    color: var(--bs-gray-dark);
}

.hero-left h1,
.hero-left p,
.home-hero-btn,
.home-hero-image {
    padding: 0 20px;
    opacity: 0;
}

.home-hero-image {
    width: 45%;
    animation: slideInFromRight 1.5s ease-out forwards;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 55%;
}

@keyframes slideInFromBottomLeft {
    0% {
        opacity: 0;
        transform: translate(-100%, 100%);
    }

    25% {
        transform: translate(-50%, 100%);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.hero-left h1 {
    width: fit-content;
    font-size: 4rem;
    font-weight: 700;
    color: var(--bs-gray-dark);
    animation: slideInFromBottomLeft 1.5s ease-out forwards;
}

/*TAKE NOTE HERE*/
.hero-left p {
    width: 47rem;
    font-family: Lexend;
    font-size: 1.4rem;
    word-spacing: .4rem;
    color: var(--bs-gray);
    animation: slideInFromBottomLeft 1.5s ease-out forwards;
}


.home-hero-btn {
    padding: 1rem 4rem;
    border-radius: 45px;
    color: var(--bs-white);
    background-color: #bf8417;
    border: 1px solid var(--bs-gray);
    animation: slideInFromBottomLeft 1.5s ease-out forwards;
}

.home-hero-btn:hover {
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    background-color: var(--bs-white);
    color: #bf8417;
}

/*ABOUT SECTION STARTS HERE*/
.home-about-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    height: 80vh;
    padding: 0 6rem;
}

.about-hero-image-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.about-hero-image {
    width: 90%;
    height: 40%;
    width: 100%;
    position: relative;
    animation: moveLeftRight 10s ease-in-out infinite;
}

@keyframes moveLeftRight {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10%);
    }

    100% {
        transform: translateX(0);
    }
}

.home-about-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48%;
    gap: 1rem;
}

.home-about-right p {
    font-size: 1rem;
    line-height: 1.8;
    color: var(--bs-gray);
}

.home-about-btn {
    padding: 1rem 3rem;
    border-radius: 45px;
    color: var(--bs-white);
    background-color: #bf8417;
    border: 1px solid var(--bs-gray);
}

.home-about-btn:hover {
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    background-color: var(--bs-white);
    color: #bf8417;
}

.home-about-right h1 {
    font-size: 3rem;
    width: 28rem;
    font-weight: 700;
    color: var(--bs-gray-dark);
}

.home-about-right h4 {
    font-size: 1.8rem;
    color: #bf8417;
}

/*SCROLL TO TOP COMPONENT STARTS HERE*/
.scroll-to-top {
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 1000;
}

.scroll-btn {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bf8417;
    color: #fff;
    font-size: 24px;
    border: 1px solid var(--bs-gray);
    border-radius: 50%;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    transition: opacity 0.4s, background-color 0.3s;
    opacity: 0.7;
}

.scroll-btn:hover {
    opacity: 1;
    background-color: var(--bs-white);
    color: #bf8417;
}

.scroll-icon {
    font-size: 1rem;
    font-weight: 800;
}

/*SERVICES SECTION STARTS HERE*/
.services-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    margin-top: 2rem;
}

.home-service-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.home-service-head h4 {
    font-size: 1.8rem;
    color: #bf8417;
}

.home-service-head h1 {
    font-size: 3rem;
    width: 40rem;
    font-weight: 700;
    color: var(--bs-gray-dark);
}

.home-service-head p {
    font-size: 1rem;
    line-height: 1.8;
    color: var(--bs-gray);
    text-align: center;
    width: 62rem;
    font-weight: 500;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 0 6rem;
    cursor: pointer;
}

.web-dev-div,
.ui-ux-div,
.mobile-dev-div,
.design-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px var(--bs-gray);
    transition: 0.5s;
    
}

.web-dev-div:hover,
.ui-ux-div:hover,
.mobile-dev-div:hover,
.design-div:hover {
    background-color: rgb(250, 241, 237);
    transform: translate(1);
}

.icon-div {
    border: 1px solid;
    padding: 2.5rem 2rem;
    border-radius: 10px;
    background-color: rgb(215, 215, 215);
    border: none;
}

.icon {
    font-size: 4rem;
    color: #bf8417;
}

.services-btn {
    padding: .8rem 2rem;
    border-radius: 45px;
    color: #bf8417;
    background-color: rgb(215, 215, 215);
    border: none;
    cursor: pointer;
}

.web-dev-div h3,
.ui-ux-div h3,
.mobile-dev-div h3,
.design-div h3 {
    font-size: 1.5rem;
    color: var(--bs-gray-dark);
}

.web-dev-div p,
.ui-ux-div p,
.mobile-dev-div p,
.design-div p {
    color: var(--bs-gray);
    font-size: .9rem;
}