@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #bf8417;
    --bs-secondary: #6610f2;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f6f6fa;
    --bs-dark: #353f4f;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg,
            rgba(255, 255, 255, 0.15),
            rgba(255, 255, 255, 0));
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Montserrat;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    background-color: var(--bs-light);
    scroll-behavior: smooth;
}

/*HEADER FOR HOME STARTS HERE*/
/*Styling for the scroll function of nav bard*/
.head-main-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.8s, transform 0.8s ease;
}

.head-main-div.scrolled {
    background-color: rgb(252, 252, 252);
    box-shadow: 0px 0px 5px 0px var(--bs-gray);
    transform: translateY(-6px);
}

/* Hamburger menu styles */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    border: 1px solid #bf8417;
    border-radius: 10px;
    padding: 6px 12px;
}

.bar {
    width: 18px;
    height: 3px;
    background-color: #bf8417;
    margin: 2px 0;
    transition: 0.4s;
}

.open {
    background-color: #bf8417;
}


/*ADD THIS IF YOU NEED THE DYNAMICS OF THE BARS*/

/* Rotate bars when open */
/* .hamburger .bar:nth-child(1).open {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger .bar:nth-child(2).open {
    opacity: 0;
}

.hamburger .bar:nth-child(3).open {
    transform: rotate(-45deg) translate(5px, -5px);
} */


.head-nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    cursor: pointer;
}

.head-nav ul li a {
    color: var(--bs-gray);
    text-decoration: none;
    font-size: 1.2rem;
}

.head-nav ul li a:hover,
.links:hover {
    color: #bf8417;
}

.links {
    color: var(--bs-gray);
    text-decoration: none;
}

/* HOME HERO SECTION STARTS HERE */
.home-hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100vh;
    width: 100%;
    padding: 0 4rem;
    color: var(--bs-gray-dark);
    position: relative;
    z-index: 1;
}

.hero-left h1,
.hero-left p,
.home-hero-btn,
.home-hero-image {
    opacity: 0;
}

.home-hero-image {
    width: 45%;
    animation: slideInFromRight 1.5s ease-out forwards;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 55%;
}

@keyframes slideInFromBottomLeft {
    0% {
        opacity: 0;
        transform: translate(-100%, 100%);
    }

    25% {
        transform: translate(-50%, 100%);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.hero-left h1 {
    width: fit-content;
    font-size: 4rem;
    font-weight: 700;
    color: var(--bs-gray-dark);
    animation: slideInFromBottomLeft 1.5s ease-out forwards;
}

/*TAKE NOTE HERE*/
.hero-left p {
    width: 47rem;
    font-family: Lexend;
    font-size: 1.4rem;
    word-spacing: .4rem;
    color: var(--bs-gray);
    animation: slideInFromBottomLeft 1.5s ease-out forwards;
}


.home-hero-btn {
    padding: 1rem 4rem;
    border-radius: 45px;
    color: var(--bs-white);
    background-color: #bf8417;
    border: 1px solid var(--bs-gray);
    animation: slideInFromBottomLeft 1.5s ease-out forwards;
}

.home-hero-btn:focus {
    border: 2px solid #bf8417;
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(202, 160, 8, 0.25);
}

.home-hero-btn:hover {
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    background-color: var(--bs-white);
    color: #bf8417;
}


.row {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


.circle {
    position: absolute;
    background: radial-gradient(circle, transparent 59%, rgb(229, 228, 228) 60%);
    border-radius: 50%;
}


.large-circle {
    background: radial-gradient(circle, transparent 59%, rgb(222, 235, 227) 60%);
    width: 300px;
    height: 300px;
    animation: moveFreelyLargeCircle 35s infinite linear;
}


.medium-circle {
    width: 250px;
    height: 250px;
    animation: moveFreelyMediumCircle 40s infinite linear;
}


.small-circle {
    width: 50px;
    height: 50px;
    animation: moveFreelySmallCircle 50s infinite linear;
    background: radial-gradient(circle, transparent 59%, rgb(222, 235, 227) 60%);
}


.triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 60px solid pink;
}


.first-triangle {
    border-bottom: 80px solid rgb(233, 233, 203);
    animation: moveFreelyLargeCircle 60s infinite linear;
}


.additional-triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid rgb(233, 233, 203);
    position: absolute;
    animation: moveFreelyMediumCircle 60s infinite linear;
}


.heart {
    width: 700px;
    height: 760px;
    border-radius: 30% 50% 30% 50%;
    position: absolute;
    background: rgb(229, 228, 228);
    transform: rotate(-270deg);
    top: 0;
    right: 0;
    animation: shortDistanceHeart 5s infinite alternate;
}


.heart::before,
.heart::after {
    content: "";
    width: 700px;
    height: 760px;
    border-radius: 50%;
    background: rgb(229, 228, 228);
    position: absolute;
}

.heart::before {
    top: -180px;
    left: 0;
}

.heart::after {
    top: 0;
    left: 200px;
}


@keyframes moveCircleLike1 {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(150px, 200px);
    }

    50% {
        transform: translate(300px, -100px);
    }

    75% {
        transform: translate(-150px, -200px);
    }

    100% {
        transform: translate(0, 0);
    }
}


@keyframes moveCircleLike2 {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(-200px, 150px);
    }

    50% {
        transform: translate(200px, -200px);
    }

    75% {
        transform: translate(-300px, 100px);
    }

    100% {
        transform: translate(0, 0);
    }
}


@keyframes moveFreelyLargeCircle {
    0% {
        transform: translate(0, 10vh);
    }

    25% {
        transform: translate(20vw, 30vh);
    }

    50% {
        transform: translate(40vw, -10vh);
    }

    75% {
        transform: translate(70vw, 50vh);
    }

    100% {
        transform: translate(100vw, 20vh);
    }
}


@keyframes moveFreelyMediumCircle {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(-30vw, 20vh);
    }

    50% {
        transform: translate(-50vw, -30vh);
    }

    75% {
        transform: translate(80vw, -10vh);
    }

    100% {
        transform: translate(0, -20vh);
    }
}


@keyframes moveFreelySmallCircle {
    0% {
        transform: translate(0, 30vh);
    }

    25% {
        transform: translate(20vw, 50vh);
    }

    50% {
        transform: translate(-30vw, 20vh);
    }

    75% {
        transform: translate(50vw, -10vh);
    }

    100% {
        transform: translate(0, 30vh);
    }
}


@keyframes shortDistanceHeart {
    0% {
        transform: translate(0, 0) rotate(-45deg);
    }

    25% {
        transform: translate(10px, 10px) rotate(-45deg);
    }

    50% {
        transform: translate(-10px, -10px) rotate(-45deg);
    }

    75% {
        transform: translate(10px, -10px) rotate(-45deg);
    }

    100% {
        transform: translate(0, 0) rotate(-45deg);
    }
}


@keyframes shortDistanceHeart {
    0% {
        transform: translate(0, 0) rotate(-45deg);
    }

    25% {
        transform: translate(10px, 10px) rotate(-45deg);
    }

    50% {
        transform: translate(-10px, -10px) rotate(-45deg);
    }

    75% {
        transform: translate(10px, -10px) rotate(-45deg);
    }

    100% {
        transform: translate(0, 0) rotate(-45deg);
    }
}


/*ABOUT SECTION STARTS HERE*/
.home-about-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    height: 100%;
    padding: 0 6rem;
    border: 1px solid;
}

.about-hero-image-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
    height: 50vh;
    /* look out here..*/

}

.about-hero-image {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100px;
    left: 0;
    top: 5%;
    /* opacity: 0; */
    /* animation: moveUp 20s ease-in-out forwards, slideLeftRight 5s ease-in-out infinite; */
    animation: slideInDown 100s ease-out forwards, slideLeftRight 10s ease-in-out infinite;
}

@keyframes moveUp {
    0% {
        bottom: -100px;
        opacity: 1;
        transform: translateY(100vh);
    }

    100% {
        bottom: 50%;
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideLeftRight {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(100px);
    }
}


.home-about-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 1rem;
    animation: slideInDown 1s ease-out forwards;
}

.home-about-right p {
    font-size: 1rem;
    line-height: 1.8;
    color: var(--bs-gray);
}

.home-about-btn {
    padding: 1rem 3rem;
    border-radius: 45px;
    color: var(--bs-white);
    background-color: #bf8417;
    border: 1px solid var(--bs-gray);
    font-weight: 500;
}

.home-about-btn:focus {
    border: 2px solid #bf8417;
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(202, 160, 8, 0.25);
}

.home-about-btn:hover {
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    background-color: var(--bs-white);
    color: #bf8417;
}

.home-about-right h1 {
    font-size: 3rem;
    width: 28rem;
    font-weight: 700;
    color: var(--bs-gray-dark);
}

.home-about-right h4 {
    font-size: 1.8rem;
    color: #bf8417;
}

/*SCROLL TO TOP COMPONENT STARTS HERE*/
.scroll-to-top {
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 1000;
}

.scroll-btn {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bf8417;
    color: #fff;
    font-size: 24px;
    border: 1px solid var(--bs-gray);
    border-radius: 50%;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    transition: opacity 0.4s, background-color 0.3s;
    opacity: 0.7;
}

.scroll-btn:hover {
    opacity: 1;
    background-color: var(--bs-white);
    color: #bf8417;
}

.scroll-icon {
    font-size: 1rem;
    font-weight: 800;
}

/*SERVICES SECTION STARTS HERE*/
.services-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
    border: 1px solid;

}

.home-service-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    animation: slideInDown 1s ease-out forwards;
}

.home-service-head h4 {
    font-size: 1.8rem;
    color: #bf8417;
}

.home-service-head h1 {
    font-size: 3rem;
    width: 40rem;
    font-weight: 700;
    color: var(--bs-gray-dark);
}

.home-service-head p {
    font-size: 1rem;
    line-height: 1.8;
    color: var(--bs-gray);
    text-align: center;
    width: 62rem;
    font-weight: 500;

}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 0 6rem;
    cursor: pointer;
}

.web-dev-div,
.ui-ux-div,
.mobile-dev-div,
.design-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px var(--bs-gray);
    transition: 0.5s;
    animation: slideInDown 1s ease-out forwards;
    transform: translateY(100vh);
    opacity: 0;
}

.web-dev-div:nth-child(1),
.ui-ux-div:nth-child(1),
.mobile-dev-div:nth-child(1),
.design-div:nth-child(1) {
    animation-delay: 0.1s;
}

.web-dev-div:nth-child(2),
.ui-ux-div:nth-child(2),
.mobile-dev-div:nth-child(2),
.design-div:nth-child(2) {
    animation-delay: 0.2s;
}

.web-dev-div:nth-child(3),
.ui-ux-div:nth-child(3),
.mobile-dev-div:nth-child(3),
.design-div:nth-child(3) {
    animation-delay: 0.3s;
}

.web-dev-div:nth-child(4),
.ui-ux-div:nth-child(4),
.mobile-dev-div:nth-child(4),
.design-div:nth-child(4) {
    animation-delay: 0.4s;
}

@keyframes slideInDown {
    0% {
        opacity: 0;
        transform: translateY(100vh);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.web-dev-div:hover,
.ui-ux-div:hover,
.mobile-dev-div:hover,
.design-div:hover {
    transform: translate(1);
    background-color: #e0dcca;
    color: var(--bs-white);
}

.web-dev-div:hover .icon-div,
.web-dev-div:hover .services-btn,
.ui-ux-div:hover .icon-div,
.ui-ux-div:hover .services-btn,
.mobile-dev-div:hover .icon-div,
.mobile-dev-div:hover .services-btn,
.design-div:hover .icon-div,
.design-div:hover .services-btn {
    background-color: var(--bs-white);
}

.icon-div {
    border: 1px solid;
    padding: 2.5rem 2rem;
    border-radius: 10px;
    background-color: rgb(215, 215, 215);
    border: none;
}

.icon {
    font-size: 4rem;
    color: #bf8417;
}

.services-btn {
    padding: .8rem 2rem;
    border-radius: 45px;
    color: #bf8417;
    background-color: rgb(215, 215, 215);
    border: none;
    cursor: pointer;
}

.services-btn:hover {
    background-color: #bf8417 !important;
    color: #fff !important;
}

.web-dev-div h3,
.ui-ux-div h3,
.mobile-dev-div h3,
.design-div h3 {
    font-size: 1.5rem;
    color: var(--bs-gray-dark);
}

.web-dev-div p,
.ui-ux-div p,
.mobile-dev-div p,
.design-div p {
    color: var(--bs-gray);
    font-size: .9rem;
}


/* FEATURES SECTION STARTS HERE */
.features-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d8c0ff;
    height: 100vh;
    position: relative;
    border: 1px solid;
}

@keyframes slideInFromLeft2 {
    0% {
        opacity: 0;
        transform: translate(-100%, 100%);
        left: -620px;
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
        left: 60px;
    }
}

@keyframes slideInFromRight2 {
    0% {
        opacity: 0;
        transform: translateX(100%);
        right: -1220px;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
        right: -20%;
    }
}

@keyframes slowMove {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(60px);
    }
}

.feature-div-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 40%;
    left: -620px;
    animation: slideInFromLeft2 1s forwards;

}

.features-image {
    right: -1420px;
    animation: slideInFromRight2 1s forwards, slowMove 5s 1s infinite alternate ease-in-out;
}

.feature-div-left,
.features-image {
    transform: translateY(-50%);
    opacity: 0;
}

.toggle-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    width: 100%;
}

.toggle-header-keyed {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: 'box-shadow 0.3s ease',
}


.h5-header {
    margin: 0;
    color: #bf8417;
    font-size: 1rem;
    font-weight: 500;
}

.toggle-header-icon {
    font-size: 1.2rem;
}

.dropdown-div {
    padding: 1rem .8rem;
    border-radius: 5px;
    border-radius: 1px solid #ccc;

}

.dropdown-head-text {
    margin-bottom: .2rem;
    font-size: 1.2rem;
    padding: 0 .2rem;
    color: #343536;
}

.dropdown-p-texts {
    color: var(--bs-gray-dark);
    font-size: .9rem;
    line-height: 1.8;
    padding: 0 .2rem 0 .2rem;
    white-space: pre-line !important;
}

.dropdown-p-texts-li {
    color: var(--bs-gray-dark);
    font-size: .9rem;
    line-height: 1.6;
    padding: 0 0 0 3rem;
}

.labe-text-bold {
    font-weight: 600;
    color: #6c757d;
}

.colored-arrow {
    color: #bf8417;
}

/*PRICING COMPONENT STARTS HERE*/
.pricing-parent-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    padding: 2rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    gap: 2rem;
    height: 100%;
    border: 1px solid;
}

.pricing-top-div h4 {
    font-size: 1.8rem;
    color: #bf8417;
    font-weight: 800;
}

.pricing-top-div h1 {
    font-size: 2.5rem;
    color: #343536;
    font-weight: 600;
}

.pricing-top-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .6rem;
}

.pricing-top-div p {
    width: 61rem;
    text-align: center;
    color: var(--bs-gray);
}


.pricing-bottom-div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}


.pricing-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: #dcd9e2;
    border-radius: 20px;
    padding-bottom: 1rem;
}

.pricing-card:hover {
    background-color: var(--bs-white);
    box-shadow: 0px 0px 8px 8px var(--bs-light);
}

.pricing-card-top {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom: 1px solid rgb(235, 235, 235);
    padding: .6rem;
    position: relative;
}

.price-badge {
    position: absolute;
    right: -1px;
    top: -1px;
    width: 0;
    height: 0;
    border-top: 140px solid #bf8417;
    border-left: 140px solid transparent;
    border-radius: 3px 20px 3px 20px;
}

.price-badge span {
    position: absolute;
    top: -100px;
    right: 20px;
    transform: rotate(45deg);
    font-weight: 500;
    color: var(--bs-white);
}

.pound-span-1,
.pound-span-2,
.pound-span-3 {
    font-size: 1rem;
    position: absolute;
    left: 40px;
}

.pricing-card-top h3 {
    font-size: 1.8rem;
    font-weight: 800;
}

.pricing-card-top h2 {
    font-size: 2.2rem;
    font-weight: 800;
}

.pricing-card-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: .6rem 3rem;
}

.pricing-card-bottom p {
    display: flex;
    gap: .6rem;
    font-weight: 600;
}

.pricing-card-purple2 {
    color: #bf8417;
}

.pricing-card-purple {
    color: #6711f2;
}

.check-icon {
    color: green;
    font-weight: bolder;
    font-size: 1.2rem;
}

.pricing-btn {
    padding: .8rem 2rem;
    border-radius: 45px;
    background-color: #ffffff;
    color: #bf8417;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.pricing-btn:hover {
    background-color: #bf8417;
    color: #ffffff;
}

/*CONTACT-US SECTION STARTS HERE!*/
/*Be careful here when woring for responsiveness*/
.contact-us-div {
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding: 1rem 0 2rem 0;
    color: var(--bs-gray-dark);
    height: 100%;
    border: 1px solid;
}

.navigate-div,
.newsletter-div,
.contact-info-div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 25%;
    overflow: none;
}

.navigate-div {
    margin-right: 4rem;
}

.navigate-div h4,
.newsletter-div h4,
.contact-info-div h4 {
    font-size: 1.4rem;
}

.navigate-div ul,
form,
.contact-media {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.navigate-div ul li {
    list-style-type: none;
}

.navigate-div ul li a,
.contact-media p {
    display: inline-block;
    text-decoration: none;
    color: var(--bs-gray-dark);
    transition: all 0.5s ease;
    outline: none;
    padding: .2rem;
}

.navigate-div ul li a:hover,
.contact-media p:hover {
    letter-spacing: 2px;
    color: #bf8417;
}

.contact-us-label {
    color: var(--bs-gray);
    position: inherit;
}

.contact-input-field {
    padding: .6rem 6rem .6rem .6rem;
    border: 1px solid gray;
    border-radius: 8px;
    width: 25rem;
}

.contact-input-field:focus {
    border: 2px solid #bf8417;
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(202, 160, 8, 0.25);
}

.contact-btn {
    width: 8rem;
    padding: .6rem 1rem;
    border-radius: 8px;
    background-color: #bf8417;
    color: #ffffff;
    border: 1px solid gray;
    font-weight: 600;
    cursor: pointer;
}

.contact-btn:hover {
    background-color: #ffffff;
    color: #bf8417;
}


.contact-media p {
    display: flex;
    gap: .4rem;
}

.social-media {
    display: flex;
    gap: .6rem;
    align-items: center;
    width: fit-content;
}

.social-icons {
    font-size: 1.2rem;
    color: var(--bs-white);
    background-color: #bf8417;
    padding: .4rem;
    border-radius: 50%;
    border: 1px solid gray;
}

.social-icons:hover {
    background-color: #ffffff;
    color: #bf8417;
}

/*FOOTER SECTION STARTS HERE!*/
footer {
    background-color: var(--bs-dark);
    padding: 2rem;
    color: var(--bs-white);
}

.footer-copyright {
    width: fit-content;
    margin-left: 3rem;
}

.footer-copyright a {
    color: #bf8417;
    text-decoration: none;
}

.footer-copyright a:hover {
    color: rgb(189, 0, 189);
}


/*ROUTED CONTACT PAGE STARTS HERE!*/
.routed-contact-div {
    display: flex;
    flex-direction: column;
    overflow-x: none;
    width: 100vw;
    height: 100%;
}

/*Remember to add background mobile shapes here*/
.routed-contact-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 50vh;
    background-color: #efe8ff;
    position: relative;
}

.routed-contact-card {
    margin-top: 4rem;
}

.routed-contact-header h1,
.routed-contact-header .contact-linked {
    position: absolute;

}

.routed-contact-header h1 {
    top: 65%;
}

.routed-contact-header .contact-linked {
    top: 80%;
    text-decoration: none;
}

.routed-contact-header .contact-linked p {
    color: var(--bs-gray);
    font-weight: 500;
}

.routed-contact-header .contact-linked p span {
    color: #bf8417;
}

.routed-contact-card-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .4rem;
}

.routed-contact-card-head h4 {
    font-size: 1.8rem;
    color: #bf8417;
}

.routed-contact-card-head h1 {
    font-size: 2.8rem;
    color: #343a40;
}

.routed-contact-card-head p {
    text-align: center;
    width: 60rem;
    line-height: 1.6;
}

.routed-contact-form {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-left: 10%;
}

.form-left {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.form-left h1 {
    font-size: 2.8rem;
    color: #343a40;
}

.form-left form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-row {
    display: flex;
    gap: .6rem;
    position: relative;
}

form input,
select {
    padding: 1.4rem 5rem 1.4rem .6rem;
    border: 1px solid gray;
    border-radius: 8px;
    width: 100%;
    font-size: 1rem;
}

label {
    font-size: .8rem;
    color: #6c757d;
    position: absolute;
    left: 53.5%;
    top: 10%;
}

select .disabled-colored-select {
    background-color: rgb(224, 224, 224);
}

select:focus,
textarea:focus,
input:focus {
    border: 2px solid #bf8417;
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(202, 160, 8, 0.25);
}

form textarea {
    padding: 1rem 5rem 1rem .6rem;
    border: 1px solid gray;
    border-radius: 8px;
    height: 10rem;
    font-family: Poppins;
    font-size: 1rem;
}

.routed-contact-btn {
    width: 100%;
    padding: 1rem 5rem 1rem .6rem;
    border-radius: 8px;
    background-color: #bf8417;
    color: #ffffff;
    border: 1px solid gray;
    font-weight: 600;
    cursor: pointer;
}

.routed-contact-btn:hover {
    background-color: var(--bs-white);
    color: #bf8417;
}

.form-right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 2rem;
}

.form-right-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.right-item {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.right-item p {
    font-size: 1.4rem;
    color: #343a40;
    font-weight: 500;
}

.right-item span {
    font-size: 1rem;
}

.routed-contact-icon {
    background: #dcd9e2;
    padding: 1.6rem;
    border-radius: 50%;
    color: #bf8417;
}

.row-icons {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: fit-content;
}

.routed-social-icons {
    color: var(--bs-white);
    background-color: #bf8417;
    padding: 1.6rem;
    border-radius: 50%;
    border: 1px solid gray;
}

.routed-social-icons:hover {
    background-color: #ffffff;
    color: #bf8417;
}


/* MEDIA QUERY FOR RESPONSIVESNESS STARTS HERE!*/
/*1. HEADER COMPONENT*/

/* Tablet Screens (min-width: 481px and max-width: 768px) */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .head-main-div {
        padding: 10px 15px;
    }

    .head-nav ul {
        gap: 15px;
    }

    .head-nav ul li a {
        font-size: 14px;
    }
}


@media screen and (max-width: 480px) {
    .head-main-div {
        max-width: 480px;
        width: 50%;
        align-items: flex-start;
        padding: 10px 20px;
    }

    .head-nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .head-nav ul li {
        margin: 5px 0;
    }

    .head-nav ul li a {
        font-size: 12px;
    }

    .head-main-div img {
        width: 40px;
    }
}


/* Mobile Screens (max-width: 480px) */
@media screen and (max-width: 480px) {
    .head-nav {
        position: absolute;
        top: 0%;
        right: 0;
        margin-top: 4rem;
        width: 100%;
        background-color: rgb(252, 252, 252);
        padding: 20px;
        display: none;
        flex-direction: column;
        border-top: 1px solid rgb(205, 205, 205);
    }

    .head-nav.active {
        display: flex;
        /* margin-bottom: 4rem; */
        /*watch this!*/
    }

    .head-nav ul {
        flex-direction: column;
        align-items: flex-start;
        gap: .2rem;
    }

    .head-nav ul li a {
        font-size: 12px;
    }

    .hamburger {
        display: flex;
    }
}

